body {
    font-family: Arial, sans-serif;
    background-color: #ffa5e4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: rgb(255, 109, 187);
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 29, 236, 0.2);
    padding: 40px;
    text-align: center;
}

#display {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 18px;
    padding: 10px;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff0073;
}
